.DS_Store
/wikinp_frontend/node_modules/
/wikinp_frontend/dist/
/wikinp_frontend/npm-debug.log*
/wikinp_frontend/yarn-debug.log*
/wikinp_frontend/yarn-error.log*
/wikinp_frontend/test/unit/coverage/
/wikinp_frontend/test/e2e/reports/
/wikinp_frontend/selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
